* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    width: 90vw;
}

.display {
    width: 100%;
    height: 3vh;
    margin: 5% 0 0 0;

}

nav{
    width: 100vw;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 2%;
    list-style: none;
}

nav a {
    color: darkmagenta;
}

.link {
    font-size: 1.1rem;
    margin: 4% 2%;
    text-decoration: none;
}

#delete-btn {
    border: none;
    background-color: white;
    align-self: end;
}

.calculator-keys {
    border-top: 1px solid black;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.parentheses-buttons {
    display: flex;
    justify-content: space-between;
    gap: 7%;
}

.parentheses-buttons > button {
    padding: 18%
}

.numpad {
    grid-area: 2 / 1 / span 4 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key {
    padding: 20%;
}

.key:hover {
    background-color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
}