* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    width: 90vw;
}

.display {
    width: 100%;
    height: 3vh;
    margin: 5% 0 0 0;

}

nav{
    width: 90vw;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 2%;
    list-style: none;
}

nav a {
    color: darkmagenta;
}

.link {
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
}

#delete-btn {
    border: none;
    background-color: white;
    align-self: end;
}

.calculator-keys {
    border-top: 1px solid black;
    padding-top: 2vh;
    max-height: 25vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.parentheses-buttons {
    display: flex;
    justify-content: space-between;
    gap: 7%;
}

.parentheses-buttons > button {
    padding: 18%
}

#numpad {
    grid-area: 2 / 1 / span 4 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.key {
    padding: 20%;
}

.key:hover {
    background-color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
}

#history-list {
    list-style: none;
    grid-area: 2 / 1 / span 4 / span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 100%;
    overflow: scroll;
}

.operation-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 2%;
}

.history-operation {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#clear-history-btn {
    grid-column: span 3;
}